body {
  background-color: #010a01;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #0fa;
}

.header {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

.array-grid {
  position: fixed;
  bottom: 100px;
  left: 100px;
  right: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.array-element {
  color: black;
  width: 15px;
  background-color: white;
  border: solid;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #f09;
  border-width: 1px;
  transition: height 0.5s ease-in-out;
}

.controls-grid {
  margin-bottom: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.controls-grid .input-box {
  z-index: 100;
  margin-right: 20px;
  font: inherit;
  box-shadow: 0 0 7px #fff, 0 0 10px #0fa;
  border: 0;
  outline: 0;
  padding: 10px;
}

.controls-grid .add-button,
.sort-button,
.reset-button,
.clear-button {
  z-index: 100;
  margin-right: 20px;
  box-shadow: 0 0 7px #fff, 0 0 10px #0fa;
  width: 50px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.controls-grid .add-button:hover,
.sort-button:hover,
.reset-button:hover,
.clear-button:hover {
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #0fa;
  width: 55px;
  height: 45px;
}

.controls-grid .animation-speed-div .animation-speed-bar {
  position: relative;
  z-index: 100;
}
